 body {
    padding: 40px;
 }

h1 {
    color: blue;
    text-align: center;    
}

h4 {
    text-align: center;
}

.form-courses {
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 60px;
}

.btn-show {

    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0); 
}

.courses-block {
    margin-top: 20px;
    display: none;
    justify-content: center;
    
    
}

.course {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0); 
    display: block;
    padding: 0px;
    text-decoration: none;
    color: black;
}