<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рекомендательная система для курсов</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>

<!-- Шапка и заголовки -->
<h1 class="color">Coursera Course Recommendation System</h1>
<h4>Найди похожий курс из датасета, в котором свыше 3000 курсов Corsera</h4>

<!-- Поиск -->
<div class="form-courses">
    <div>Начни вводить название курса</div>
    <input type="text" class="input-course" id="tags">
</div>

<!-- Автокоплит для инпут -->
<script>
    $( function() {
      var availableTags = [
          {% for dat in data %}
              "{{dat}}",
          {% endfor %}
      ];
      $( "#tags" ).autocomplete({
        source: availableTags
      });
    } );
</script>

<!-- Показать рекомендации -->
<button type="submit" class="btn btn-primary btn-show" id="show-btn">Показать рекомендованные курсы</button>

<!-- Блок для списка -->
<div id="result"></div>

<!-- Обработка POST -->
<script>
    $(document).ready(function(){
        $("#show-btn").click(function(e){
            e.preventDefault();
            var courseName = $("#tags").val();
            $.ajax({
                url: "/",
                type: "POST",
                data: {courseName: courseName},
                success: function(response){

                    $("#result").empty();
                    $("#courses-block").empty();
                    var courses = response.split(', ');
                    courses.forEach(function(course) {

                        var button = $('<div class="course">' + course + '</div>');


                        $("#courses-block").append(button);
                    });
                }
            });
        });
    });
</script>

<!-- Блок для рекомендаций -->
<div class="courses-block" id="courses-block"></div>
</body>
<script type="text/javascript" src="/static/show.js"></script>
</html>