 body {
    padding: 40px;
 }

h1 {
    color: blue;
    text-align: center;    
}

h4 {
    text-align: center;
}

.form-courses {
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 60px;
}

.btn-show {

    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0); 
}


.courses-block {
    margin-top: 20px;
    display: none;
    justify-content: center;
    
    
}

.course {

text-align: center;
    display: block;
    padding: 0px;
    text-decoration: none;
    color: black;

}



.input-course {
    width: 855px
}



.ui-autocomplete {
padding: 16px !important;
    width: 855px !important;
    color: black !important;


}

.ui-menu-item, .ui-menu-item:hover,
.ui-menu-item a, .ui-menu-item a:hover
{
text-align: center;
    background: #ffffff none no-repeat;
    color: black !important;
    text-decoration: none;
    padding:0;
    margin:4;
    display:block;
    border:0;border-collapse:collapse;
    cursor: pointer;
}

.ui-menu-item a:hover {
    color: blue !important;
}



